---
layout: default
title: Home
---

<header class="clean" style="height: 350px; background-image: url({{ site.cover }});" data-stellar-background-ratio="0.5" data-stellar-horizontal-offset="50">
	{% include top.html %}
	<a href="{{ site.url }}{{ site.baseurl }}">
		<div id="home-title" class="site-icon-home" style="background-image: url({{ site.icon }});" data-stellar-ratio="0.5"></div>
	</a>
</header>
<div id="middle" align="center" style="padding-top: 1px;">
{% include search.html %}
<h1><em>"Great experience working with you. Got many complements on the stream."</em></h1>
<strong>--Jaymz</strong> <a href="http://youtube.com/jaymzplays">JaymzPlays</a>
<div class="homeVideo" align ="center"><iframe width="320" height="180" src="https://www.youtube.com/embed/WTPZmtaXlyQ" allowfullscreen></iframe></div>
</div>
<footer class="clean" style="background-image: url({{ site.cover }}); background-position: bottom; height: 60px;">
	<p class="copyright">&copy;{{ site.time | date: "%Y" }}, <a href="{{ site.copyright.url }}" target="_blank">{{ site.copyright.author }}</a>. <a href="{{ site.copyright.type_url }}" target="_blank">{{ site.copyright.type_title }}</a>.</p>
</footer>
