
<head>
	{% capture canonical %}{{ site.url }}{{ site.baseurl }}{% if site.permalink contains '.html' %}{{ page.url }}{% elsif site.permalink contains category_dir %}{{ '/' | page.url | remove:'index.html' | '/' }}{% else %}{{ page.url | remove:'index.html' | '/' }}{% endif %}{% endcapture %}
	<link href="//gmpg.org/xfn/11" rel="profile">
	<link type="text/plain" rel="author" href="http://www.mixedmediastudios.org/humans.txt" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8">{% if page.article %}
	<link rel="canonical" href="{{ canonical }}" />
	<meta name="language" content="English">
	<meta name="description" content="{% if page.quote %}{{ page.quote }}{% else %}{{ page.content | strip_html | truncatewords: 20 }}{% endif %}" />
	<meta property="og:description" content="{% if page.quote %}{{ page.quote }}{% else %}{{ page.content | strip_html | truncatewords: 20 }}{% endif %}" />
	<meta itemprop="image" content="{% if page.image.url %}{{ site.url }}{{ site.baseurl }}{{ page.image.url }}{% else %}{{ site.url }}{{ site.baseurl }}{{ site.icon }}{% endif %}" />
	<meta property="og:image" content="{% if page.image.url %}{{ site.url }}{{ site.baseurl }}{{ page.image.url }}{% else %}{{ site.url }}{{ site.baseurl }}{{ site.icon }}{% endif %}" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ canonical }}" />
	<meta property="og:site_name" content="{{ site.title }}" />{% endif %}
	<title>{% if page.title == "Home" %}{{ site.title }} &middot; {{ site.tagline }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}</title>
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" media="only screen and (min-width: 900px)" href="{{ site.baseurl }}/assets/css/desktop.css" />
	<link rel="stylesheet" type="text/css" media="only screen and (max-width: 899px)" href="{{ site.baseurl }}/assets/css/mobile.css" />
	<link href="//cdn.jsdelivr.net/genericons/3.1.0/genericons.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Fenix:400,400italic">
	<link rel="apple-touch-icon" href="{{ site.icon }}">
	<link rel="shortcut icon" href="{{ site.icon }}">
	<link rel="alternate" type="application/rss+xml" href="/atom.xml">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.hovercard.min.js"></script>
	{% if site.google_analytics %}
	<!-- Asynchronous Google Analytics snippet -->
	<script>
/*
                                                                                  

ZZZZZZZOOOZOOOOOOOOOOOOOOOOO88OO888O8888888888888888888888888888888888888888OZZO8OZZO8ZZ$OOZ$$OO$77ZZ777ZZ7I7$$III$7II7$
ZZZZZZZZOOOOOOOOOOOOOOOOOOOOOO8O88OO8O8888888888O8888888888888888888888888O8OZZ88OZZO8ZZ$OOZ$$ZO$77ZZ$77ZZ7I7$$III$$III$
ZZZZZZOOOOOOOOOOOOOOOOOO8OOO888888OO8O8888888888888888888888888888888888OZO8OZZO8OZZO8ZZ$OOZ$$ZO$77ZZ777$Z7II$$III$$II7$
ZZZZZZZZZOZZOOOOOOOOOOOOOOOO8OOOOO88888888888888888888888888888888888888ZZ88OZZO8OZZO8Z$$OO$$$ZO$77ZZ777$Z7II$$III$$II7$
ZZOZZOOZZOOOOOOOOOOOOO8O888O888OOO8888888888888888888888888888888888888OZZO8OZZO8OZZO8Z$$OO$$$ZO$77ZZ777$Z7II$$III$$II7$
ZZZZZZZZZOZZOOOOOOOOOOOOOOO8OOO8OO8O888O88O888O8888888888888888888888O8OZZ88OZZO8OZZO8Z$$OO$$$ZO$77ZZ777$$7II$$III$$II7$
ZZZZZZZZZZOOOOOOOOOOOOOO88OO88OOOOO88O88888O888888888888888888888888OO88ZZO8OZZO8OZZOOZ$$OO$$$ZZ$77ZZ777$ZII7$$III$$II7$
ZZZZZOOOOOOOOOOOOOOOOOOO8OO8O888888888888OO8888888888888O8888888888ZZO88ZZO8OZZO8OZZOOZ$$OO$$$ZO$77ZZ777$$7I7$$III$$II7$
ZZZZZZZOZZOOOOOOOOOOOOOOOOOOOOOOO8OO8O8OOOO88OO8888888888888888888OZZO88ZZO8OZZO8OZZOOZ$$OO$$7ZZ$77ZZ777$$7I7$$III$$II7$
ZOOOOOOOOOOOOOOOOOOOOO8OOOOO8O888O88888888888888888888888888888888OZZO88ZZO8OZZO8OZ$OOZ$$ZO$$7ZZ777ZZ777$Z7I7$$II7$$II7$
ZZZZZZZZZZOOOOOOOOOOOOOOOOOOOOOOOOOOO8O8O8O8888O8888888888888888O88ZZO8OZZO8OZZO8ZZ$OOZ$$ZO$$7ZZ777ZZ777$Z7I7$$III$$777$
ZOOOOOO...................     O888O88888888888888O888888888888ZO88ZZO8OZZO8OZZO8ZZ$OOZ$$ZO$$7ZZ$77ZZ777$Z7I7$Z777$$777$
ZZZOZOZ::,......................8OOO88O88O8OO88888888888888888ZZO88ZZO8OZZO8OZZO8Z$$OOZ77ZZ$77ZZ7II$$7II$$III$$I77$Z777Z
OOOOOOOOOOOOOOO.................,88O888O8888888888888888888888ZZO88ZZO8OZZO8OZZO8Z$$OO7.     .     .     .    ..77$Z777Z
OZOOOOOOOOOOOOOOZ.....  ....  ...Z88O8OOOO888OOO8O88888O88O888ZZO88ZZO8OZZO8OZZO8Z$$OO..........................77ZZ77$Z
OOOOOOOOOOOOOOOOOO....  ....  ....O8OOOO8O8888OO88888888O88O88ZZO88ZZO8OZZO8OZZOOZ$$Z....~Z$77ZZ777Z. ..........77ZZ77$Z
OOOOOOOOOOOOOOOOOO7.    ..    .. .,8888888888888888888888OZO88ZZO88ZZO8OZZO8OZZZOZ$$7....ZO$77ZZ77I.......,,,,,,77ZZ77$Z
OOOOOOOOOOOOOOOOOOO.................8OOO888888888O8888888ZZO88ZZO88ZZO8OZZO8OZZZOZ$$. ..$ZO$77ZZ$7....:7$Z777$Z777ZZ77$Z
OOOOOOOOOOOOOOOOOOO...  ....  .... .ZOO8888O8888888888888ZZO88ZZO8OZZO8OZZO8OZZOOZ$....I$ZZ$77ZZ$I ...77ZZ777ZZ777ZZ77$Z
OOOOOOOOOOOOOOOOOOO ..  ....  .... ..O8O88OO888888888O888ZZO88ZZO88ZZO8OZZO8O$ZOOZ,...,$$ZZ$77ZZ$+...~77ZZ777ZZ777ZZ77$Z
OOOOOOOOOOOOOOOOOOO..   :.    ..   ..,O8888O888888888OO88ZZO88ZZO8OZZO8OZZO8OZ$OO7....Z$$ZZ$77ZZ7,.. ?77ZZ777ZZ777ZZ$7$Z
OOOOOOOOOOOOOOOOOOO.. ..:O.....  .....I888O888888888ZOO88ZZO88ZZO8OZZO8OZZO8OZ$OO ...O=.,7Z$77ZZ$....777ZZ777ZZ777ZZ$$$Z
OOOOOOOOOOOOOOOOOOO..  .:87.     ......OO8OOO8888O88ZO888ZZO88ZZO8OOZO8OZZO8O$$O....,Z....=$77ZZ$....777ZZ777ZZ777ZZ$$$$
OOOOOOOOOOOOOOOOOOO.. ..:OO,.... .......OO8888O88888ZZO88ZZO88ZZO8OZZO8OZZO8O$$7....Z.....=$77ZZ$... 777ZZ777ZZ7$7ZZ$7$Z
OOOOOOOOOOOOOOOOOOO..   :OOO.  .........?8OO8O888O88ZZO88ZZO88ZZO8OZZO8OZZO8O$$....$=.....=$77ZZ$... 777ZZ777ZZ777ZO$ZZZ
OOOOOOOOOOOOOOOOOOO.. ..:OOO7..  ........IO88888ZO88ZZO88ZZO88ZZO8OZZO8OZZO8ZZ....$$......+$77ZZ$... 777ZZ77$ZO$77Z$$ZZZ
OOOOOOOOOOOOOOOOOOO..  .:8OOO7............OOO88ZZO88ZZO88ZZO88ZZO8OZZO8OZZO8Z+...,$.......+$$7ZZ$... 777ZZ$7$ZO$$$$$$ZZZ
OO8OOOOOOOOOOOOOOO8.. ..:OOOO8.. ......... O888ZZO88ZZO88ZZO88ZZO8OZZO88ZZO8Z....Z....,...+$$$ZO$... 777ZO$7$ZO$$$Z$ZZZZ
OOOOOOOOOOOOOOOOOOO..   :OOO8OO............?O.8ZZO88ZZO88ZZO88ZZO8OZZO8OZZO8....Z=....+...+$$$ZO$... 777ZO$$$ZO$$$$$$$ZZ
OOOOO8OOOOOOOOOOOOO.. ..:O8OOOOI............. .ZZO88ZZO88ZZO88ZZO8OZZO8OZZO,...:O ...O+...+$$$ZO$... 77$ZO$$$ZOZZ$$ZZZZZ
OOOOOOOOOOOOOOOOOOO..  .:8OOOOO8,.........,=....ZO88ZZO88ZZO88ZZO8OZZO8OZZ7....O....7O+...+$$$ZO$....$$$ZO$$$ZZ$Z$ZZZZZZ
OOOOOOOOOOOOOOOOOOO.. ..:OOOOOOOO ........ZZ....7Z88ZZO88ZZO88ZZO8OZZO8OZZ....$:....ZO+...+$$$OOZ....$$$ZO$$$$$ZZ$$ZZZZZ
OOOOOOOOOOOOOOOOOOO..  .:OOO88O88Z......78ZZO....O88ZZO88ZZO88ZZO8OZZO8OZ....=$....$OO+...+Z$$ZOZ....$$$OO$$$Z$ZZZZ$ZZZZ
OOOOOOOOOOOOOOOOOOO..  .:OOOOOOOO8,....$88ZZZ$....88ZZO88ZZO88ZZO8OZZO8O+...:$....$$OO+...+Z$$ZOZ....$$$OO$ZZZZZZZZZZZZZ
OOOOOOOOOOOOOOOOOO8..  .:OOO88O8OOO... Z88ZZZ8....~8ZZO88ZZO88ZZO8OZZO8O ...O....IZ$OO+...+Z$$OOZ....$$$OOZZZZZZZZZZZZZZ
OOOOOOOOOOOOOOOOOOO.. ..:OOOOOOOOOOO....88ZZZ8O....OZZO8OZZO8OZZO8OZZO8....O~...,ZZ$OO?...+Z$$OOZ....$$$ZZZZZZZZZZZZZZZZ
OO88OOOOOOOOOOOOOOO.. ..:OOOOO88OO88... $8ZZZ88Z....ZOO88ZZO8OZZO8OZZO,...+O....8OZZO8?...+Z$$OOZ... $$ZZZZZZZZZZZZZZZZZ
OOOOOOOOOOOOOOOOOOO..  .:8OOOOOOOOO88....OZZZ88Z+...~ZO88ZZZ88ZZO8OZZI....O....$8OZZO8?...?Z$$OOZ....$ZZZZZZZZZZZZZZZZZZ
OOOOOOOOOOOOOOOOOOO..  .:OOOOOOOOOZ887....OZZ88ZZ,...:O88ZZO88ZZO8OZZ ...Z:...~O8OZZO8?...?ZZZO8Z....ZZZZZZZZZZZZZZZZZZZ
OOOOOOOOOOOOOOOOOOO.. ..:88OOO8OOZZ88Z~...,ZZ88ZZZ....Z88ZZZ88ZZO8OZ....+7....ZO8OZZO8?...?ZZZO8Z...ZZZZZZZZZZZZZZZZZZZZ
OOOOOOOOOOOOOOOOOOO.. ..:888OOOOZZZ88ZZ....$Z88ZZOZ....88ZZO88ZZO8O?.. .Z....$ZO8OZZO8?...?ZZZO8Z..ZZZZZZZZZZZZZZZZZZZZZ
OOOOOOOOOOOOOOOOOOO..  .:OOOOO88ZZZ88ZZZ....Z88ZZO8:...,8ZZO88ZZO8O....O....$ZZO8OZZO8?...?OZZO8O.OOOZZZZZZZZZZZZZZZZZZZ
OOOOOOOOOOOOOOOOO88..  .:OO8OO88ZZZ88ZZZ=...,88ZZZ88. ..$ZZO88ZZO8....OZ...,OZZO8OZZO8?...?OZZO8ZOZZOZZZZZZZZZZZZZZZZZZZ
OOOOOOOOOOOOOOOOOOO.. ..:OOO=.88ZZZ88ZZZ8~...78ZZO88$....ZZO88ZZO~...IO....8OZZO8OZZO8?...?OZZO8OOOOOZOZZOZZZZZZZZZZZZZZ
OOOOOOOOOO88O888O88.....:8O7..88ZZZ88ZZZ88....8ZZZ88ZZ....ZO88ZZ7....O....Z8OZZO8OZZO8?...?OZZOOOZOOZOOZOZZZZZZZZZZZZZZZ
OOOOOOOOOOOOOOOOOOO.. ..:OI...88ZZZ88ZZZ88$ ...ZZO88ZZ,...?O88ZZ....$,...:O8OZZ88OZZO8?...?OZZOOOOOOOOOOZOOZZOOOZZZZZZZZ
OOOOOOOOOOOOOOOOOO8.. ..:O....88ZZZ88ZZZ88Z=....ZZ88ZZO....$88O....?I....ZO8OZZO8OZZO8?...?OZOOOOOOOOOOOZZOOOOZOZZZZZZZZ
OOOOOOOOOO8OOOOOOOO.. ...O  ..88ZZZO8ZZZ88ZZ....7O88ZZOO ...88?....Z....ZZO8OZZO8OZZO8?...?OOOOOOOOOOOOZZOOOZZZZZZZZOZOZ
OOOOOOOOOOOOOOOOOOO......O ...88ZZZ88ZZZ88ZZZ ...O88ZZO8?...,O....8....+ZZO8OZZO8OZZO8?...IOOZOOOOOOOOOOOOOOOZOOOOOOOOOO
O888O88O8O88888O888.. ...O  ..88ZZZ88ZZZ88ZZZ=...,88ZZO88........Z7...,8ZZO8OZZO8OZZO8I..IOOOOOOOOOOOOOOOOOOOZOZOZOZZZZZ
OOOOOOOOOOOOOOOOOOO......O  ..88ZZZ88ZZZ88ZZZO....?8ZZO88Z .....~8....88ZZO8OZZO8OZZO8I.ZOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
OOOOOOOOOOOOOOOO88O.O ...O  ..88OZZO8OZZO8OZZO8....8ZZO88Z7.....O....Z88ZZO8OZZO8OZZ88IZOOOOOOOOOOOOOOOOOOOOOOOOZZOZOOOO
OOOOOOO8OOOOOOOOOOOZO....O ...88OZZO8OZZO8OZZOOO....ZZO88ZZ=...Z....~O88ZZO8OZZ88OZZ888OO8OOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
OOOOOOOOOOOOOOOOO8ZZO ...O  ..O8OZZO8OZZO8ZZZO8O=...~ZO88ZZO..??....OO88ZZO8OZZO8OZZOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
OO8OOOOOOOOOO8OO8OZZO ...O  ..O8OZZO8OZZO8OZZO8OZ....?O88ZZO8,Z....ZZO88ZZO8OZZO8OZZOOOOOOOOOOO8OOOOOOOOOOOOOOOOOOOOOOOO
OOOOOOOOOOOOOOOO8OZZO....O....O8OZZO8OZZO8OZZO8OZZ....O88ZZO88,...+ZZO88ZZO88ZZO8OZOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
OO8OOOOO8O8OOO8O8OZZO ...O....O8OZZO8OZZO8OZZO8OZZ7....88ZZO8I....8ZZO88ZZO8OZZ88OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
OOOOOOOOOO8OOOZO8OZZZ ..~O....O8OZZO8OZZO8OZZO8OZZ8....=8ZZOO....88ZZO88ZZO88ZZO8OOOOOOOOOOOOOOOOOOOOOOOOOOOOZOOOOOOOOOO
OOOOOOOOOOOOOZZO8OZZ: ..$O,...O8OZZO8OZZO8OZZO8OZZ8O. ..8ZZO....O88ZZO88ZZO88ZZOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
OO88OOOO8OOOOZZO8OZ,....ZO8....ZOZZO8OZZO8OZZO8OZZ887....ZZ~...+O88ZZO88ZZO88ZOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
OOOOOOOOOO,............ZZO8=. ..........$8OZZ88OZZ88Z?...~$....ZO88ZZO88ZZOO.,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
8OOOOO88OZ..... .....IZ$$O8Z$...........78ZZZOOOZZ88ZZ........ZZO88ZZO88ZZOO?OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
OO8OOOOOZZ..... .... ........... .......78ZZZO8OZZ88ZZZ......IZZO88ZZO88ZZO8OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
8OOOOOOZZZ..............................78ZZZ88OZZ88OZO$.....8ZZO88ZZO88ZZOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
OOOOOO8OZZO8ZZZ88OZZO8ZZZ88ZZZ88ZZZ88ZZZ88ZZZ88OZZ88OZO88ZZO88ZZO88ZZO88ZOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
OOOOOO8ZZZO8ZZZO8OZZ88ZZZ88ZZZ88ZZZ88ZZZ88ZZZ88ZZZ88OZO88ZZO88ZZO88ZZO88OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
8OO8ZZ8OZZO8ZZZ88ZZZ88ZZZ88ZZZ88ZZZ88ZZZ88ZZZ8OZZZ88OZO88ZZO88ZZO88ZZO8OOOOOOZOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
OOOZZO8OZZO8OZZ88OZZO8ZZZO8ZZZO8ZZZ88ZZZ88ZZZ8OZZO88OZO88ZZO88ZZO88ZZOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
OOOZZO8OZZO8OZZO8OZZO8ZZZO8ZZZ88ZZZO8ZZZ88ZZZ8OZZZ88ZZO88ZZO88ZZO88ZZOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
O8OZZO8OZZO8OZZO8OZZO8ZZZ88ZZZO8ZZZO8ZZZ88ZZZ88ZZZ88ZZO88ZZZ88ZZO88ZOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
O8OZZO8OZZO8OZZO8OZZO8ZZZO8ZZZ88ZZZ88ZZZ88ZZZ88ZZZ88ZZO88ZZO88ZZO88OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
O8OZZO8OZZO8OZZO8OZZO8ZZZ88ZZZO8ZZZ88ZZZ88ZZZ88ZZZ88ZZO88ZZO88ZZO8OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
O8OZZZ8OZZO8OZZ88OZZO8ZZZ88ZZZO8ZZZO8ZZZ88ZZZ88ZZZ88ZZO88ZZO88ZZOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
O8OZZZ8OZZO8OZZO8OZZO8ZZZO8ZZZO8ZZZ88ZZZ88ZZZ88ZZZ88ZZO88ZZO88ZZOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO8
O8OZZO8OZZO8OZZO8OZZO8ZZZ88ZZZO8ZZZ88ZZZ88ZZZ88ZZZ88ZZO88ZZO88ZOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
O8OZZZ8OZZO8OZZO8OZZO8ZZZO8OZZO8ZZZ88ZZZ88ZZZ88ZZZ88ZZZ88ZZO88OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
O8OZZO8OZZO8OZZO8OZZO8ZZZO8ZZZ88ZZZO8ZZZ88ZZZ88ZZZ88ZZO88ZZOOZOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO

You probably are here because you want to know how we made the site:

- Generator: Jekyll (http://jekyllrb.com/)
- Template: Thinny (https://github.com/camporez/Thinny)
- Our files and mods (http://git.io/j8Z6)  */;


		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', '{{ site.google_analytics }}', 'auto');
		ga('send', 'pageview');
		
	</script>
	{% endif %}
	<script type="application/ld+json">
	{ "@context" : "http://schema.org",
	  "@type" : "Organization",
	  "name" : "Mixed Media Studios",
	  "url" : "http://www.mixedmediastudios.org/",
	  "logo" : "https://avatars1.githubusercontent.com/u/10189614?v=3&s=500",
	  "email" : "us@mixedmediastudios.org",
	  "sameAs" : [ "http://www.facebook.com/TheMixedMediaStudios",
	    "https://twitter.com/MixedStudios",    "https://plus.google.com/b/117832163283159184453/117832163283159184453/"]
	}
	</script>
	<!-- Theme Color for Chrome on Android Lollipop -->
	<meta name="theme-color" content="#{% if page.theme_color %}{{ page.theme_color }}{% else %}{{ site.theme_color }}{% endif %}">
</head>
