
<head>
	{% capture canonical %}{{ site.url }}{{ site.baseurl }}{% if site.permalink contains '.html' %}{{ page.url }}{% elsif site.permalink contains category_dir %}{{ '/' | page.url | remove:'index.html' | '/' }}{% else %}{{ page.url | remove:'index.html' | '/' }}{% endif %}{% endcapture %}
	<link href="//gmpg.org/xfn/11" rel="profile">
	<link type="text/plain" rel="author" href="http://www.mixedmediastudios.org/humans.txt" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8">{% if page.article %}
	<link rel="canonical" href="{{ canonical }}" />
	<meta name="language" content="English">
	<meta name="description" content="{% if page.quote %}{{ page.quote }}{% else %}{{ page.content | strip_html | truncatewords: 20 }}{% endif %}" />
	<meta property="og:description" content="{% if page.quote %}{{ page.quote }}{% else %}{{ page.content | strip_html | truncatewords: 20 }}{% endif %}" />
	<meta itemprop="image" content="{% if page.image.url %}{{ site.url }}{{ site.baseurl }}{{ page.image.url }}{% else %}{{ site.url }}{{ site.baseurl }}{{ site.icon }}{% endif %}" />
	<meta property="og:image" content="{% if page.image.url %}{{ site.url }}{{ site.baseurl }}{{ page.image.url }}{% else %}{{ site.url }}{{ site.baseurl }}{{ site.icon }}{% endif %}" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ canonical }}" />
	<meta property="og:site_name" content="{{ site.title }}" />{% endif %}
	<title>{% if page.title == "Home" %}{{ site.title }} &middot; {{ site.tagline }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}</title>
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" media="only screen and (min-width: 900px)" href="{{ site.baseurl }}/assets/css/desktop.css" />
	<link rel="stylesheet" type="text/css" media="only screen and (max-width: 899px)" href="{{ site.baseurl }}/assets/css/mobile.css" />
	<link href="//cdn.jsdelivr.net/genericons/3.1.0/genericons.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Fenix:400,400italic">
	<link rel="apple-touch-icon" href="{{ site.icon }}">
	<link rel="shortcut icon" href="{{ site.icon }}">
	<link rel="alternate" type="application/rss+xml" href="/atom.xml">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.hovercard.min.js"></script>
	{% if site.google_analytics %}
	<!-- Asynchronous Google Analytics snippet -->
	<script>
/*
                                                                                  


ZZOOOOOOO88O888888888888OZ8ZZO$O77$I$II$
ZZZZOOOOOOO8OO888888888O8Z8ZZO$O77$I$II$
ZZZOOOOOOOO88O88O88888Z8OZ8ZZO$Z77$I$II$
ZO........88888OO88888ZOOZ8$ZZ7Z77$7Z77Z
OOOZO?. . .OO8888888Z8ZOOZ8$.........77Z
OOOOOO......O888888OZ8ZOOZOI.Z7Z..$7Z77Z
OOOOOO.    .8O888Z8OZ8ZOOZO.ZZ7Z.7Z7Z7$O
OOOOOO..8. ..O8O8Z8OZ8ZOO$.+..7Z.7Z7Z77Z
O8OOOO. OO....8Z8Z8OZ8ZOO.....$O.7Z7O$$Z
OOOOOO..88.....:8Z8ZZ8ZOO...+.$O.$Z$$$ZZ
OOOOOO..8OO..8Z.8Z8OZ8ZO.Z.Z+.$O.$OZZZZZ
OOOOOO. 8888.8ZZ.Z8ZZ8Z.,.8Z?.$O.$ZZZZZZ
OOOOOO..8OO8~.ZZ..8ZZ8....8Z?.Z8.ZZZZZZZ
OOOOO8. OOZ8Z..Z8 IOZ8.?.Z8Z?.Z8ZZZZZZZZ
OOOOOO..=.Z8Z8.Z8Z.OZ.Z.OZ8Z?.ZOOOOOOZZZ
OOOOOO.. .Z8Z8O.8Z$....ZOZ8Z?.OOOOOOOOOO
OOO888O. .OOZ8Z. Z8....8OZ8ZIOOOOOOOOOOO
O8OOOOO...OOZ8ZO..8O$.Z8OZ8ZOOOOOOOOOOOO
OOOOZO7.,.OOZ8ZO8.8O.8Z8OZOOOOOOOOOOOOOO
OO8....Z8 ...8Z88Z..?8Z8OOOOOOOOOOOOOOOO
OOZ$I7$I$I7$I8ZO8Z$7Z8Z8OOOOOOOOOOOOOOOO
OOZ8ZOOZ8ZZ8Z8ZZ8Z8OZ8ZOOOOOOOOOOOOOOOOO
OOZ8ZOOZ8ZZ8Z8ZZ8Z8OZ8OOOOOOOOOOOOOOOOOO

You probably are here because you want to know how we made the site:

- Generator: Jekyll (http://jekyllrb.com/)
- Template: Thinny (https://github.com/camporez/Thinny)
- Our files and mods (http://git.io/j8Z6)  */;


		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', '{{ site.google_analytics }}', 'auto');
		ga('send', 'pageview');
		
	</script>
	{% endif %}
	<script type="application/ld+json">
	{ "@context" : "http://schema.org",
	  "@type" : "Organization",
	  "name" : "Mixed Media Studios",
	  "url" : "http://www.mixedmediastudios.org/",
	  "logo" : "https://avatars1.githubusercontent.com/u/10189614?v=3&s=500",
	  "email" : "us@mixedmediastudios.org",
	  "sameAs" : [ "http://www.facebook.com/TheMixedMediaStudios",
	    "https://twitter.com/MixedStudios",    "https://plus.google.com/b/117832163283159184453/117832163283159184453/"]
	}
	</script>
	<!-- Theme Color for Chrome on Android Lollipop -->
	<meta name="theme-color" content="#{% if page.theme_color %}{{ page.theme_color }}{% else %}{{ site.theme_color }}{% endif %}">
</head>
