<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{{ content }}
		<script type='text/javascript'>
		var width = $(window).width()
		if ( width > 899 )
		$( function(){
			$.stellar({
				responsive: true,
			verticalScrolling: true,
			horizontalOffset: 0,
			verticalOffset: 0,
			positionProperty: 'transform',
			});
		})
		{% for author_entry in site.data.authors %}{% assign author = author_entry[1] %}
		$('.{{ author.id }}').hovercard({
			detailsHTML: "<img src=\"{{ author.picture }}\" width=\"200px\" alt=\"Picture of {{ author.name }}\"><br />{{ author.name }} is the {{ author.role }} at Mixed Media Studios. {% if author.github %}<br/> Github profile: {{ author.github }}{% endif %}"
		})
		{% endfor %}
		</script>
		<script type="text/javascript" src="/assets/js/jquery.hovercard.min.js"></script>
	</body>
</html>
