<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{{ content }}
		<script type='text/javascript'>
		$(document).ready(function () {
    var hoverHTMLDemoBasic = '<p>' +
                        'John Resig is an application developer at Khan Academy.
                            He was a ' +
                        'JavaScript tool developer for the Mozilla Corporation.
                            He is also the' +
                        'creator and lead developer of the jQuery JavaScript
                            library.<p>';

    $("#demo-basic").hovercard({
        detailsHTML: hoverHTMLDemoBasic,
        width: 400,
        cardImgSrc: 'http://ejohn.org/files/short.sm.jpg'
    });
});
		var width = $(window).width()
		if ( width > 899 )
		$( function(){
			$.stellar({
				responsive: true,
			verticalScrolling: true,
			horizontalOffset: 0,
			verticalOffset: 0,
			positionProperty: 'transform',
			});
		})
		</script>
		<script type="text/javascript" src="/assets/js/jquery.hovercard.min.js"></script>
	</body>
</html>
